<h1>New Survey</h1>

<%= render 'form', survey: @survey %>
<% if current_user.kind == 0 or current_user.kind == 1 %>
<%= link_to 'Back', surveys_path %>
<% else %>
<%= link_to 'Back', current_user.student, class: 'btn' %>
<% end %>
