<h1>Edit advisor</h1>

<%= render 'form', advisor: @advisor %>
<hr>
<% if current_user.kind == 1 or current_user.kind == 0 %>
<%= link_to 'Show', @advisor, class: 'btn' %> |
<%= link_to 'Back', advisors_path %>
<% else %>
<%= link_to 'Back', @advisor %>
<% end %>
