<h1>Validate Advisor</h1>
<% @title = "Accept"  %>
<% @url =   advisor_accept_path(@advisor) %>
<%= render 'form', advisor: @advisor %>

<%= button_to 'Reject', advisor_reject_path, method: 'post' %> |
<%= link_to 'Back', advisors_path %>

