<div class="card" style="max-width: 40rem; margin: auto">
  <div class="card-header">Welcome</div>
  <div class="card-body">
    <h5 class="card-title">What's MOCA?</h5>
    <p class="card-text">
      MOCA is a web platform develped to improve CAPAZ advices managment.
      Here you can register and ask for advisor to reforce your learning process in diferent subjects.
      Also, if you want to help other students, you can register as an advisor.
    </p>

    <%= button_to "Access",  new_user_session_path, class: 'btn btn-primary' %>
  </div>
</div>
