<h1>Edit student</h1>

<%= render 'form', student: @student %>
<% if current_user.kind == 1 or current_user.kind == 0 %>
<%= link_to 'Show', @student, class: 'btn' %> |
<%= link_to 'Back', students_path, class: 'btn' %>
<% else %>
<%= link_to 'Back', current_user.student, class: 'btn' %>
<% end %>
