<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @undergraduate.name %>
</p>

<%= link_to 'Edit', edit_undergraduate_path(@undergraduate) %> |
<%= link_to 'Back', undergraduates_path %>
